@import "../../App.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.home-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: 100vh;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 36px;
    }
}

.home-image {
    display: grid;
    grid-template-columns: auto auto auto;    
}

.home-image-item {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
    img {
        width: 500px;
        height: 100%;
        border-radius: 10%;
    }
}

