@import "../../App.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.home-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: 100vh;

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 36px;
    }
}

.my-masonry-grid {
    display: flex;
    width: auto;
}
.my-masonry-grid_column {
    padding: 5px;
    background-clip: padding-box;
}

.home-image-item {
    margin-top: 10px;
    padding: 50px;
    border: 5px double $black;
    img {
        width: 500px;
        height: 100%;
    }
}

