.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.nav-logo {
    margin-right: 50%;
    font-family: "DancingScript";

    a {
        text-decoration: none;
        color: var(--black);
    }
}

.nav-items {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: var(--black);
}