:root {
  --primary-color: #bb9bb0; /* Rose Quartz */
  --secondary-color: #A288A6; /* Mountbatten Pink */
  --tertiary-color: #CCBCBC; /* Silver */
  --white: #F1E3E4; /* Lavender Blush */
  --black: #1C1D21; /* Eerie Black */
}

@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url(./fonts/Caveat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DancingScript";
  src: local("DancingScript"), url(./fonts/DancingScript-Regular.ttf) format("truetype");
}

body {
  background-color: var(--primary-color);
  font-family: "Caveat";
}