$primary-color: #9C59D1;
$secondary-color: #FFF430; 
$white: #F1E3E4; /* Lavender Blush */
$darker-white: darken($white, 10%);
$black: #1C1D21; /* Eerie Black */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=League+Spartan:wght@100..900&display=swap');

body {
  background-color: $white;
  font-family: "League Spartan", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}